$fondo: #edd0b2;
$letra-base: #49250f;
$nav-color: #333;
$nav-color-letra: #edd0b2;
$border-color: #ff6600;
$titulo: #5C4033;
$titulo-portada: #f3ebe7;
$primario-receta: #F5E3CC;
$subrayado: #EAE0D3;
$subrayado-oscuro: #5C4033;
$subrayado-invisible: #e0c2a1;
$texto-claro: #A87C7C;
$texto-desc: #6B5B4A;

$letra-desc: "Josefin Sans", sans-serif;
$letra-titulo: "Cormorant Garamond", serif;

$padding-base: 10px;
